### Encryption
# ignore travis file
.travis.yml

#ignore encryption.static file because if will generated automatically on each server
lib/encryption.static

# ignore log files and databases
*.log
*.sql
*.sqlite

# don't ignore the .htaccess
!lib/.htaccess